.footer {
  background-color: var(--primary-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo img {
  width: 300px;
}

.footer__info {
  text-align: center;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer__info--title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__info--desc {
  font-size: 1.8rem;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  gap: 30px;
}

.footer__section {
  flex: 1 1 200px;
}

.footer__section h4 {
  font-size: 2rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #fff;
  display: inline-block;
  padding-bottom: 5px;
}
.footer__section ul {
  list-style: none;
  padding: 0;
}
.footer__section ul li {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.footer__section ul li i {
  margin-right: 20px;
  font-size: 2.5rem;
}
.footer__section a {
  color: #fff;
  text-decoration: none;
}
.footer__section a:hover {
  text-decoration: underline;
}
