.menu-items {
    width: 224px;
}

.item {
    cursor: pointer;
    padding: 13px 0;
}

.item:hover {
    background: linear-gradient(90deg, rgb(224, 247, 250) 0%, rgb(178, 235, 242) 100%);
    color: var(--primary-color);
}

.icon {
    padding: 0 12px;
}