.header {
  margin: 0 auto;
}

.header-1,
.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.header-1 {
  width: 80%;
  height: 74px;
}

.logo {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
  height: 88px;
  width: 178px;
  padding: 10px;
}

.logo-icon {
  width: 100%;
  margin-left: 12px;
}

.logo-icon,
.navigation {
  transition: transform 0.2s;
}

.logo-icon:hover,
.navigation:hover {
  transform: scale(1.1);
}

.btn {
  min-width: 110px;
  background-color: var(--primary-color); /* Màu xanh lá */
  border: none;
  color: white;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(31, 162, 166);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.btn + .btn {
  margin-left: 4px;
}

.User-login {
  min-width: 224px;
}

.user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.user-wrapper span {
  font-size: 18px;
}

.header-2 {
  width: 80%;
  padding: 0 10%;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
}

<<<<<<< HEAD
.controll, 
.header-2_icon{
    font-size: 24px;
    padding: 0 12px;
    margin-bottom: 0;
=======
.controll,
.header-2_icon {
  font-size: 24px;
  padding: 0 12px;
>>>>>>> 825fbebb46c47d7dcca44528710ba9b6e242ea36
}

.navigation,
.title-item,
.header-2_icon-cart {
  cursor: pointer;
}

.navigation {
  width: 36px;
}

.title {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.title-item {
  color: #fff;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.title-item:hover {
  color: #fff;
}

.title-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  bottom: -4px;
  border-bottom: 2px solid #fff;
}

.title-item:hover.title-item::before {
  width: 100%;
  transition: width linear 0.3s;
}

.header-2_icon-cart {
  font-size: 24px;
}

// nav overlay
.header-2__nav-input {
  display: none;
}

.header-2__nav-input:checked ~ .header-2__navOverlay {
  display: block;
}

.header-2__nav-input:checked ~ .header-2__nav {
  transform: translateX(0);
}

.header-2__navOverlay {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;
  animation: fadeIn linear 0.2s;
}

.header-2__nav {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  max-width: 100%;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: transform linear 0.2s;
}

.header-2__nav-header {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  border-bottom: 1px solid #fff;
}

.header-2__nav-header-title {
  cursor: default;
  font-weight: 700;
  padding-left: 52px !important;
}

.header-2__nav-header-close {
  color: white;
  padding: 12px 24px;
  font-size: 2.4rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.header-2__nav-header-close:hover {
  transform: scale(1.1);
}

.header-2__nav-list {
  list-style: none;
}

.header-2__nav-header-title,
.header-2__nav-item {
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px 8px;
  font-size: 20px;
}

.header-2__nav-item:hover {
  color: #fff;
  margin-left: 16px;
  transform: scale(1.1);
  font-weight: 700;
}

// Overlay
#header-2__nav-input {
  display: none;
}

#header-2__nav-input:checked ~ .header-2__navOverlay {
  display: block;
}

#header-2__nav-input:checked ~ .header-2__nav {
  transform: translateX(0);
}
